
<h2>Contact Detail</h2>
<div class="panel panel-default">
  <a href="#" class="list-group-item clearfix">
    <div class="panel-heading">
      <h3>{{contact?.name}}</h3>
      <div class="row pad-all">
        <div class="clearfix pull-left">
          <img src="{{contact?.imageUrl}}" alt="{{contact?.name}}" class="img-responsive" style="max-height: 100px">
        </div>
        <div class="pull-right" style="margin-top: 2rem;">
          <div class="btn-block">
            <a routerLink="../{{contact?.id}}/edit" class="btn btn-primary">Edit</a>
            <a routerLink="/contacts" (click)="onDelete()" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="pad-left-right">
        <div class="row" *ngIf="contact?.email">
          <label>Email:</label>
          <span class="label-value">{{contact?.email}}</span>
        </div>
        <div class="row" *ngIf="contact?.phone">
          <label>Phone:</label>
          <span class="label-value">{{contact?.phone}}</span>
        </div>
      </div>
    </div>
  </a>
</div>

